<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title-center">{{dialogData.action}} Category</span>
        <span mat-dialog-close class="icon"><i class="ri-close-line"></i></span>

    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
        <div class="form-column">

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required="">
                <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
                    <span *ngIf="categoryForm.controls.name.errors.required">The field is mandatory</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>

    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(categoryForm.valid && categoryForm.dirty)">{{action}}</button>
</mat-dialog-actions>