<div class="footer-container">
    <div class="footer-section">
    <div class="menu-section">
        <ul class="nav-bar">
            <li class="nav-item first">
              <a href="#home" class="nav-a" >
                <span>Home</span></a
              >
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-a" 
                ><span>About</span></a
              >
            </li>
            <li class="nav-item">
              <a href="#faq" class="nav-a"><span>FAQ</span></a>
            </li>
           
            
          </ul>
          <ul class="nav-bar title">
            <li class="nav-item"><a class="nav-a" href="/"><span>Max Your Lifts</span></a></li>
          </ul>
          <ul class="nav-bar second">
            <li class="nav-item">
                <a href="#contact" class="nav-a" 
                  ><span>Contact</span></a
                >
              </li>
              <li class="nav-item">
                <div class="nav-a" (click)="signUp()"
                  ><span>Sign up</span></div
                >
              </li>
              <li class="nav-item">
                <div  class="nav-a" (click)="login()"
                  ><span>Login</span></div
                >
              </li>
          </ul>
    </div>
    <div class="copy-section">
        <div class="copy-text"><i class="ri-copyright-line"></i><span>2022 Max Your Lifts - All Rights Reserved</span></div>
    </div>
</div>
</div>