<div class="header-nav-container">
  <div class="nav-container" [ngStyle]="{ top: changeStyles() }">
    <ul class="nav-bar">
      <li class="nav-item">
        <a href="#home" class="nav-a" (click)="afterClick()">
          <span>Home</span></a
        >
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-a" (click)="afterClick()"
          ><span>About</span></a
        >
      </li>
      <li class="nav-item">
        <a href="#faq" class="nav-a" (click)="afterClick()"><span>FAQ</span></a>
      </li>
      <li class="nav-item">
        <a href="#contact" class="nav-a" (click)="afterClick()"
          ><span>Contact</span></a
        >
      </li>
      <li class="nav-item">
        <a href="#signup" class="nav-a" (click)="afterClick()"
          ><span>Sign up</span></a
        >
      </li>
      <li class="nav-item">
        <a href="#login" class="nav-a" (click)="afterClick()"
          ><span>Login</span></a
        >
      </li>
    </ul>
  </div>
  <div
    *ngIf="!isNavMenuOpen"
    class="nav-close"
    id="nav-close"
    (click)="toggleNavMenu()"
  >
    <i class="ri-close-line"></i>
  </div>
  <div
    *ngIf="isNavMenuOpen"
    class="nav-open"
    (click)="toggleNavMenu()"
    id="nav-open"
  >
  <i class="ri-menu-4-line"></i>  </div>
</div>
