<div class="manage-category">

    <mat-card class="header-card">
        <h1>Manage Category</h1>
        <div class="add-cat">
            <span class="add">Add Category</span>
            <button mat-fab color="primary" class="float-right" (click)="handleAddAction()"><mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card class="filter-card">
        <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </mat-card>
    <div class="responsive-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
            (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="name">
                <th class="name-th" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td class="name-td td" mat-cell *matCellDef="let element" class="action-link">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th class="action-th" mat-header-cell *matHeaderCellDef>Action</th>
                <td class="action-td td" mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)"
                        [disabled]="element.name==='Benchpress' || element.name ==='Squat' || element.name==='Deadlift' || element.name==='Row'">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
        <br> <mat-paginator [length]="dataSource?.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event">
        </mat-paginator>
    </div>

</div>