<mat-tab-group>
    <mat-tab label="Login">
        <div class="login-container">

            <mat-dialog-content class="mat-typography">
                <form [formGroup]="loginForm">
                    <div class="form-column">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required>
                            <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                                <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory</span>
                                <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error
                                *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                                <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory</span>
                                <span *ngIf="loginForm.controls.password.errors.pattern">This field is invalid</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </mat-dialog-content>

            <mat-dialog-actions class="buttons">
                <button mat-raised-button color="primary" mat-dialog-close="">Close</button>
                <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
                    [disabled]="!(loginForm.valid && loginForm.dirty)">Login</button>


            </mat-dialog-actions>
        </div>
    </mat-tab>
    <mat-tab label="Forgot Password"><app-forgot-password></app-forgot-password></mat-tab>
</mat-tab-group>