<div class="manage-exercise">
    <mat-card class="header-card">
        <h1>Manage Exercise</h1>
        <div class="add-cat">
            <span class="add">Add Exercise</span>
            <button mat-fab color="primary" class="float-right" (click)="handleAddAction()"><mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card class="filter-card">
        <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </mat-card>
    <div class="responsive-table">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th class="name-th" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by name">Name</th>
                <td class="name-td td" mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="category_name">
                <th class="category_name-th" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by category">Category</th>
                <td class="category_name-td td" mat-cell *matCellDef="let element">
                    {{element.category_name}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th class="description-th" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by description">Description</th>
                <td class="description-td td" mat-cell *matCellDef="let element">
                    {{element.description}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="description">
                <th class="description-th" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by description">Description</th>
                <td class="description-td td" mat-cell *matCellDef="let element">
                    <div *ngIf="element.description.length > 50; else fullDescription">
                        {{element.description.substring(0, 50)}}...
                        <mat-icon matTooltip="{{element.description}}" matTooltipClass="my-tooltip">info</mat-icon>
                    </div>
                    <ng-template #fullDescription>{{element.description}}</ng-template>
                </td>
            </ng-container> -->

            <ng-container matColumnDef="video_url">
                <th class="video_url-th center" mat-header-cell mat-sort-header *matHeaderCellDef>Video</th>
                <td class="video_url-td td center" mat-cell *matCellDef="let element"><button
                        (click)="openLink(element.video_url)" mat-icon-button
                        matTooltip="Movie"><mat-icon>movie</mat-icon></button>
                </td>
            </ng-container>

            <ng-container matColumnDef="sets">
                <th class="sets-th center" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by sets">Sets</th>
                <td class="sets-td td center" mat-cell *matCellDef="let element">{{element.sets}}</td>
            </ng-container>
            <ng-container matColumnDef="reps">
                <th class="reps-th center" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by reps">Reps</th>
                <td class="reps-td td center" mat-cell *matCellDef="let element">{{element.reps}}</td>
            </ng-container>
            <ng-container matColumnDef="rpe">
                <th class="rpe-th center" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by RPE">RPE</th>
                <td class="rpe-td td center" mat-cell *matCellDef="let element">{{element.rpe}}</td>
            </ng-container>
            <ng-container matColumnDef="tempo">
                <th class="tempo-th center" mat-header-cell mat-sort-header *matHeaderCellDef
                    sortActionDescription="Sort by tempo">Tempo</th>
                <td class="tempo-td td center" mat-cell *matCellDef="let element">{{element.tempo}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th class="actions-th center" mat-header-cell *matHeaderCellDef>Actions</th>
                <td class="actions-td td" mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #menu="matMenu" class="mat-menu" xPosition="before">
                        <div class="buttons">
                            <button mat-icon-button color="primary" matTooltip="Edit"
                                (click)="handleEditAction(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" matTooltip="Delete"
                                (click)="handleDeleteAction(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-slide-toggle (change)="statusChange($event.checked,element.id)"
                                matTooltip="Activate or Deactivate Exercise"
                                [checked]="element.status"></mat-slide-toggle>
                        </div>

                    </mat-menu>


                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
        <br>
        <mat-paginator [length]="dataSource?.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event">
        </mat-paginator>
    </div>


</div>