.forgot-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    min-height: 300px;


form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-form-field {
    padding: 5px;
    width: 100%;
}
.mat-typography {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

   

mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 0 50px 50px 50px;
    button {
        font-size: 1.2rem;
    }
}

}