<app-header></app-header>


<div class="main-container">
  <app-mid-nav [@inOutAnimation] [section]="section"  class="mid-nav" *ngIf="scrolled===1" ></app-mid-nav>

 
  <div class="info-container" id="home">
    <div class="info-wrap">
      <div class="text-container">
        <h1 >Max Your Lifts</h1>
        <h2>Application aimed at improving weak links in powerlifting </h2>
        <div class="buttons-container">
          <button mat-raised-button class="sign-button" (click)="signUp()">Get Started</button>
        </div>
      </div>
      
    </div>
  </div>
  <div class="about-container" id="about">
    <div class="about-con">
      <h1>About us</h1>
    </div>
  </div>
  
  <div class="faq-container" id="faq">
    <div class="section-faq">
      <h1>Frequently asked questions</h1>

    </div>
    <div class="container">
      
      <div class="tab">
        <input type="radio" name="acc" id="acc1" />
        <label for="acc1">
          <h2>01</h2>
          <h3> Czy martyna jest piękna </h3>
        </label>
        <div class="content">
          <p>
            Oczywiscie
          </p>
        </div>
      </div>

      <div class="tab">
        <input type="radio" name="acc" id="acc2" />
        <label for="acc2">
          <h2>02</h2>
          <h3> Czy martyna jest super </h3>
        </label>
        <div class="content">
          <p>
           Superancka
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc4" />
        <label for="acc4">
          <h2>03</h2>
          <h3> Czy martyna jest niexiemska </h3>
        </label>
        <div class="content">
          <p>
            Jest jest
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc5" />
        <label for="acc5">
          <h2>04</h2>
          <h3>Czy poznałeś już Martynę </h3>
        </label>
        <div class="content">
          <p>
           Ja tak
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc6" />
        <label for="acc6">
          <h2>05</h2>
          <h3> Co o niej sądzisz (do wyboru opcje piękna, wspaniała, cudowna, boska)</h3>
        </label>
        <div class="content">
          <p>
           piekan wspaniala cudowna boska
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc7" />
        <label for="acc7">
          <h2>07</h2>
          <h3>seventh text</h3>
        </label>
        <div class="content">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi,
            iste officiis. Nulla molestiae magni laudantium, ut eius non modi
            nobis maiores dolor, aliquid architecto ab natus voluptate provident
            beatae? Reiciendis alias libero ipsa quasi minus aliquam culpa fuga
            exercitationem amet ex et veniam vel nobis doloribus magnam, aliquid
            perferendis suscipit dolores mollitia voluptatibus quas illo
            dignissimos? Sit delectus eius hic magnam fugit repellendus totam
            mollitia optio quisquam tempora sapiente obcaecati, voluptates quasi
            deleniti? Accusantium, illo tenetur rerum nulla nobis, cumque quod a
            laudantium sed exercitationem sit eos molestias ipsam dicta.
            Repellendus ea praesentium rem nisi at suscipit aut inventore
            eligendi!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-container" id="contact">
    <div class="contact-con">
      <div class="form-container">
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>Enter some input</mat-label>
          <input matInput #input maxlength="10" placeholder="Ex. Nougat">
          <mat-hint align="end">{{input.value.length}}/10</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
