app-home {
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    .info-container {
      width: 80%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .info-wrap {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .text-container {
          h1 {
            font-size: 10rem;
          }
          h2 {
            font-size: 2rem;
            font-weight: 300;
          }
          .buttons-container {
            padding-top: 0;
            .sign-button {
              background: #002518;
              border-radius: 1000px;
              padding: 20px 45px;
              color: whitesmoke;
              display: inline-block;
              font-size: 2rem;
              text-align: center;
              font-weight: 500;
            }
          }
        }
        .img-container {
        }
      }
    }
    .about-container {
      width: 100%;
      height: 100vh;
      background-color: #002518;
    }
    .faq-container {
      width: 100%;
      min-height: 100vh;
      background-color: whitesmoke;
      .container {
        margin: 0 40px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .tab {
          position: relative;
        }
      }
    }
    .contact-container {
      width: 100%;
      min-height: 100vh;
      background-color: black;
    }
  }
}

@media (max-width: 767.98px) {
  .info-container {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info-wrap {
      justify-content: center;
      align-items: center;
      padding-top: 0;
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
      }
      .buttons-container {
        .sign-button {
          background: #002518;
          border-radius: 1000px;
          padding: 20px 45px;
          color: whitesmoke;
          display: inline-block;
          font-size: 1rem;
          text-align: center;
        }
      }
    }
    .about-container {
      width: 100%;
      min-height: 100vh;
      background-color: #002518;
    }
    .faq-container {
      width: 100%;
      min-height: 100vh;
      background-color: whitesmoke;
    }
    .contact-container {
      width: 100%;
      min-height: 100vh;
      background-color: black;
    }
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .info-container {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info-wrap {
      justify-content: center;
      align-items: center;
      padding-top: 0;
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
      }
      .buttons-container {
        .sign-button {
          background: #002518;
          border-radius: 1000px;
          padding: 20px 45px;
          color: whitesmoke;
          display: inline-block;
          font-size: 1rem;
          text-align: center;
        }
      }
    }
    .about-container {
      width: 100%;
      min-height: 100vh;
      background-color: #002518;
    }
    .faq-container {
      width: 100%;
      min-height: 100vh;
      background-color: whitesmoke;
    }
    .contact-container {
      width: 100%;
      height: 100vh;
      background-color: black;
    }
  }
}
