<app-header></app-header>
<div class="main-container">
  <div class="info-container" id="home">
    <div class="info-wrap">
      <div class="text-container">
        <h1>Max Your Lifts</h1>
        <h2>Aplikacja tworząca plan pod najsłabszy bój w trójboju siłowym</h2>
        <div class="buttons-container">
          <button class="sign-button">Dołącz już dzisiaj</button>
        </div>
      </div>
      <div class="img-container">
        <img src="../../assets/img/platebite.png" alt="plate" />
      </div>
    </div>
  </div>
  <div class="about-container" id="about">About</div>
  <div class="faq-container" id="faq">
    <h1>Najczęściej zadawane pytania</h1>
    <div class="tab">
      <input type="radio" name="acc" id="acc1" />
      <label for="acc1">
        <h2>01</h2>
        <h3>first text</h3>
      </label>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, iste
          officiis. Nulla molestiae magni laudantium, ut eius non modi nobis
          maiores dolor, aliquid architecto ab natus voluptate provident beatae?
          Reiciendis alias libero ipsa quasi minus aliquam culpa fuga
          exercitationem amet ex et veniam vel nobis doloribus magnam, aliquid
          perferendis suscipit dolores mollitia voluptatibus quas illo
          dignissimos? Sit delectus eius hic magnam fugit repellendus totam
          mollitia optio quisquam tempora sapiente obcaecati, voluptates quasi
          deleniti? Accusantium, illo tenetur rerum nulla nobis, cumque quod a
          laudantium sed exercitationem sit eos molestias ipsam dicta.
          Repellendus ea praesentium rem nisi at suscipit aut inventore
          eligendi!
        </p>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="acc" id="acc2" />
      <label for="acc2">
        <h2>02</h2>
        <h3>secpmd text</h3>
      </label>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, iste
          officiis. Nulla molestiae magni laudantium, ut eius non modi nobis
          maiores dolor, aliquid architecto ab natus voluptate provident beatae?
          Reiciendis alias libero ipsa quasi minus aliquam culpa fuga
          exercitationem amet ex et veniam vel nobis doloribus magnam, aliquid
          perferendis suscipit dolores mollitia voluptatibus quas illo
          dignissimos? Sit delectus eius hic magnam fugit repellendus totam
          mollitia optio quisquam tempora sapiente obcaecati, voluptates quasi
          deleniti? Accusantium, illo tenetur rerum nulla nobis, cumque quod a
          laudantium sed exercitationem sit eos molestias ipsam dicta.
          Repellendus ea praesentium rem nisi at suscipit aut inventore
          eligendi!
        </p>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="acc" id="acc4" />
      <label for="acc4">
        <h2>04</h2>
        <h3>fourth text</h3>
      </label>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, iste
          officiis. Nulla molestiae magni laudantium, ut eius non modi nobis
          maiores dolor, aliquid architecto ab natus voluptate provident beatae?
          Reiciendis alias libero ipsa quasi minus aliquam culpa fuga
          exercitationem amet ex et veniam vel nobis doloribus magnam, aliquid
          perferendis suscipit dolores mollitia voluptatibus quas illo
          dignissimos? Sit delectus eius hic magnam fugit repellendus totam
          mollitia optio quisquam tempora sapiente obcaecati, voluptates quasi
          deleniti? Accusantium, illo tenetur rerum nulla nobis, cumque quod a
          laudantium sed exercitationem sit eos molestias ipsam dicta.
          Repellendus ea praesentium rem nisi at suscipit aut inventore
          eligendi!
        </p>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="acc" id="acc5" />
      <label for="acc5">
        <h2>05</h2>
        <h3>fifth text</h3>
      </label>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, iste
          officiis. Nulla molestiae magni laudantium, ut eius non modi nobis
          maiores dolor, aliquid architecto ab natus voluptate provident beatae?
          Reiciendis alias libero ipsa quasi minus aliquam culpa fuga
          exercitationem amet ex et veniam vel nobis doloribus magnam, aliquid
          perferendis suscipit dolores mollitia voluptatibus quas illo
          dignissimos? Sit delectus eius hic magnam fugit repellendus totam
          mollitia optio quisquam tempora sapiente obcaecati, voluptates quasi
          deleniti? Accusantium, illo tenetur rerum nulla nobis, cumque quod a
          laudantium sed exercitationem sit eos molestias ipsam dicta.
          Repellendus ea praesentium rem nisi at suscipit aut inventore
          eligendi!
        </p>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="acc" id="acc6" />
      <label for="acc6">
        <h2>06</h2>
        <h3>sixth text</h3>
      </label>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, iste
          officiis. Nulla molestiae magni laudantium, ut eius non modi nobis
          maiores dolor, aliquid architecto ab natus voluptate provident beatae?
          Reiciendis alias libero ipsa quasi minus aliquam culpa fuga
          exercitationem amet ex et veniam vel nobis doloribus magnam, aliquid
          perferendis suscipit dolores mollitia voluptatibus quas illo
          dignissimos? Sit delectus eius hic magnam fugit repellendus totam
          mollitia optio quisquam tempora sapiente obcaecati, voluptates quasi
          deleniti? Accusantium, illo tenetur rerum nulla nobis, cumque quod a
          laudantium sed exercitationem sit eos molestias ipsam dicta.
          Repellendus ea praesentium rem nisi at suscipit aut inventore
          eligendi!
        </p>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="acc" id="acc7" />
      <label for="acc7">
        <h2>07</h2>
        <h3>seventh text</h3>
      </label>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, iste
          officiis. Nulla molestiae magni laudantium, ut eius non modi nobis
          maiores dolor, aliquid architecto ab natus voluptate provident beatae?
          Reiciendis alias libero ipsa quasi minus aliquam culpa fuga
          exercitationem amet ex et veniam vel nobis doloribus magnam, aliquid
          perferendis suscipit dolores mollitia voluptatibus quas illo
          dignissimos? Sit delectus eius hic magnam fugit repellendus totam
          mollitia optio quisquam tempora sapiente obcaecati, voluptates quasi
          deleniti? Accusantium, illo tenetur rerum nulla nobis, cumque quod a
          laudantium sed exercitationem sit eos molestias ipsam dicta.
          Repellendus ea praesentium rem nisi at suscipit aut inventore
          eligendi!
        </p>
      </div>
    </div>
  </div>

  <div class="contact-container" id="contact">Contact</div>
</div>
<app-footer></app-footer>
