app-header-plans {
    mat-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .menu-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    mat-nav-list {
        padding: 0
    }

    mat-sidenav {
        background-color: red;
        width: 200px;
    }

    li {

        padding: 10px 0;
    }



    li.selected:hover {
        background-color: #0A5448;

    }

    li.selected:active {
        background-color: #3A6A5F;
    }

    li.selected {
        transition: all 0.3s;
        background-color: #004d40;
        border-radius: 5%;

        a {
            color: #f5f8ff
        }
    }

    a {
        color: #004d40;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 150px;


        padding: 10px 15px;

        mat-icon {
            padding-right: 10px;
        }
    }




}